span{
    color:black;
}
.form{
  width:100%;
  padding: 20px;
  border: 5px solid gray;
  margin: 0;
  overflow: scroll;
  height: auto;
}
.editform {
    overflow: scroll;
    height:88.5vh;
  }
  .container{
    margin-bottom: 8rem;
  }