.image-wraper{
    margin-top:10%;
     margin-left: 33%;
}
#image{
    height: 30rem;
    width: 40rem;
    padding: 2px;
    opacity: 1;
}

@media screen and (max-width:1000px){
    .image-wraper{
        margin-top:10%;
         margin-left: 1rem;
    }
    #image{
        margin-left: 1rem;
        margin-top:4rem;
        height: 50%;
        width: 85%;
        padding: 2px;
        opacity: 1;
    }
}